@model ConFutureNce.Models.Paper

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@Html.Partial("DetailsPartial")

@if (Model.Review != null)
{
    @Html.Partial("~/Views/Reviews/DetailsPartial.cshtml", Model.Review);
}
<div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>