@model ConFutureNce.Models.Paper

@{
    ViewData["Title"] = "DetailsReviewer";
}

<h2>Paper details</h2>
@Html.Partial("DetailsPartial")

@if (Model.Review != null)
{
    @Html.Partial("~/Views/Reviews/DetailsPartial.cshtml", Model.Review);
}
<div>
    <a asp-action="Index">Back to List</a> |
    @if (Model.Review == null)
        {
            <a asp-controller="Reviews" asp-route-id="@Model.PaperId" asp-action="Create">Add review</a>
        }
</div>