
@{
    ViewData["Title"] = "PaymentError";
    Layout = null;
}

<h2>PaymentError</h2>
<hr/>
<p>
    Payment system reqest ended with error.
    <br/>
    No payment was made.
</p>

<a asp-action="PaymentError">Back to papers list</a>

